.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  background-color: #333;
}

.menu.open {
  display: flex;
}

.menu li {
  padding: 15px;
  text-align: center;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #575757;
}
