.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.inputs {
  width: 150px;
  text-align: center;
}

strong {
  font-size: 19px;
}

.input-title,
.input-authors,
.input-pageCount,
.input-isbn,
.input-id {
  border-radius: 8px;
  line-height: 30px;
  border-style: ridge;
  border-width: 1px;
  width: 200px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-submit {
  border-radius: 8px;
  border-style: none;
  border-color: grey;
  line-height: 30px;
  width: 175px;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 5px;
}


@media only screen and (max-width: 425px) {
  .updated-details {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 90px;
  }
}
