.background { 
    background-color: #99b8e0;
    background-image: url('1.png'); 
    background-size: cover; /* Dopasowanie obrazka do rozmiaru kontenera */
    background-repeat: no-repeat; /* Zapobieganie powtarzaniu obrazka */
    background-position: center top; /* Wyśrodkowanie obrazka */
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }


  .logo {
    max-width: 500px; /* Dostosuj szerokość logo */
    max-height: 200px; /* Dostosuj wysokość logo */

  }