.book {
  width: 15%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.author {
  padding: 2px;
  text-align: left;
}

.ISBN {
  padding: 2px;
  text-align: right;
}

.title {
  padding: 2px;
  font-size: large;
  font-style: italic;
}

.image {
  width: 100%;
  margin: 15px;
  box-shadow: 10px 10px 5px #abbacb;
  align-self: center;
}
